*{
	font-family: Constantina, Sitka Banner, serif;
	
}

h1{
	font-size:
	
}

h3{
	font-size:
	
}

h4{
	font-size:
	
}

h5{
	font-size:
	
}

p{
	font-size:
	
}

span{
	color:
	background-color:
	
}

a{
	*/ need ancher to do something after hovoring over*/
	
}

button{
	background-color:
	position:
	display:
	weight:
	height:
	
}

